.about {
  height: 100vh;
  padding: 18rem 3rem;
  border-top: 1px solid #ddd;
  max-width: 350rem;

  transition: transform 1s, opacity 1s;
  background-color: #fff;

  // transform: scale(0.5);

  &__container {
    max-width: 135rem;
    height: 57rem;
    position: relative;
    margin: 0 auto;
    overflow: hidden;

    &--card {
      position: absolute;
      top: 0;
      width: 100%;
      height: 50rem;

      display: flex;
      justify-content: center;
      transition: transform 1s;

      img {
        width: 650px;
        height: 560px;
        border-radius: 110px;
      }
      .text__container {
        width: 45rem;
        display: flex;
        flex-direction: column;
        margin: 5.5rem 0 0 5rem;

        h2 {
          font-size: 5rem;
          color: $primary-title-color;
          margin-bottom: 2rem;
        }

        p {
          margin-top: 1rem;
          font-size: 2.5rem;
          color: $secondary-text-color;
        }
      }
    }
    .about__btn {
      position: absolute;
      top: 50%;
      border-radius: 50%;
      color: #fff;
      border: none;
      cursor: pointer;
      z-index: 5;

      &--left {
        left: 1%;
        i {
          font-size: 5.5rem;
          color: $primary-title-color;
        }
      }

      &--right {
        right: 1%;
        i {
          font-size: 5.5rem;
          color: $primary-title-color;
        }
      }
    }
  }
}

.hidden {
  display: none;
}
