.footer {
  width: 100%;
  height: 20vh;
  background-color: #f3f3f3;
  border-top: 1px solid #ddd;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  align-items: center;
  justify-items: center;

  &__personal {
    text-align: center;
    font-size: 3rem;

    h5 {
      color: $primary-title-color;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }

    &--icons {
      margin-top: 1rem;
      display: flex;
      justify-content: space-evenly;

      i {
        font-size: 2rem;
        color: $primary-title-color;
        cursor: pointer;

        &:hover {
          color: #012b5b;
          transform: scale(1.5);
        }
      }
    }
  }

  &__business {
    img {
      width: 200px;
      height: 30px;
    }
    &--p {
      margin-top: 1rem;
      font-size: 1.2rem;
      color: $secondary-text-color;
      text-align: center;
    }
  }
}
