.header {
  height: 100vh;
  width: 100%;
  background-color: #f3f3f3;

  .nav {
    height: 13rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    &--logo {
      margin-top: 3rem;
      width: 39rem;
      height: 14rem;
    }

    &__links {
      width: 55%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      list-style: none;

      .nav__item {
        width: 11rem;
        height: 5rem;
        padding: 1rem;
        text-align: center;
        transition: all 0.2s;

        &:hover {
          transform: scale(1.1);
        }

        .active {
          font-weight: 700;
          color: $primary-title-color;
        }

        &--link {
          text-decoration: none;
          font-size: 3rem;
          font-weight: 300;
          color: $secondary-text-color;
        }

        &:last-child {
          background-color: $primary-title-color;
          border-radius: 10px;
          width: 15rem;
          height: 6rem;

          a {
            color: #fff;
          }
        }
      }
    }
  }

  .nav.sticky {
    position: fixed;
    background-color: #f3f3f3;
  }
  .header__sections {
    height: 87%;
    padding: 2rem 2rem 0;
    display: flex;
    justify-content: space-between;

    &--title {
      width: 58%;
      height: 50%;
      margin-top: 10rem;
      padding-left: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      color: $secondary-text-color;

      h1 {
        font-size: 8.5rem;
        line-height: 1.3;
        letter-spacing: 0.5px;
      }
      span {
        color: $primary-title-color;
        letter-spacing: 0.5px;
        font-size: 8.5rem;
      }
      p {
        font-size: 4rem;
        font-weight: 300;
        line-height: 1.2;
        width: 100%;
      }
      .learn__more {
        font-size: 4.2rem;
        color: $primary-title-color;
        border: none;
        position: absolute;
        top: 70%;
        left: 5%;
        cursor: pointer;
      }
    }

    &--image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scaleX(-1);
      }
    }
  }
}
