.manual {
  height: 100vh;
  padding: 11rem 3rem;
  border-top: 1px solid #ddd;
  max-width: 135rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    // background-color: red;
    width: 150rem;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__content {
      display: flex;
      flex-direction: column;

      h2 {
        color: $primary-title-color;
        font-size: 4.5rem;
      }

      p {
        padding: 1rem;
        margin-top: 2rem;
        font-size: 2.1rem;
      }

      .download {
        width: 18rem;
        height: 5rem;
        font-size: 2.2rem;
        color: #fff;
        background-color: $primary-title-color;
        border: none;
        border-radius: 15px;
        margin: 3rem 0 0 20rem;
        cursor: pointer;

        &:hover {
          background-color: $blue-hover;
          transition: all 0.5s;
        }
      }
    }

    &__image {
      align-self: center;
      justify-self: center;
      height: 100%;
      width: 50%;

      img {
        height: 44rem;
      }
    }
  }
}
