.service {
  height: 100vh;
  max-width: 350rem;
  font-size: 3rem;
  padding: 10rem 3rem;
  border-top: 1px solid #ddd;

  &__content {
    display: none;
  }

  &--title {
    text-align: center;
    color: $primary-title-color;
    h2 {
      font-size: 8rem;
      margin: 9rem auto 7rem;
    }
  }

  &__container {
    margin: 5rem auto 0;
    width: 130rem;
    height: 70%;

    &__btns {
      display: flex;
      justify-content: center;

      .btn--active {
        transform: translateY(15%);
        background-color: #0150aafe;
      }

      button {
        transition: all 1s;
        transform: translateY(50%);
        font-size: 3.2rem;
        margin-right: 3rem;
        padding: 1.2rem 2.5rem;
        border-radius: 30px;
        border: none;
        background-color: $primary-title-color;
        color: #fff;
        cursor: pointer;

        &:hover {
          background-color: #0150aafe;
        }
      }
    }

    &--active {
      border-radius: 30px;
      width: 100%;
      height: 30rem;
      display: flex;
      margin-top: 10rem;

      img {
        width: 60%;
        height: 90%;
        border-radius: 10px;
      }

      h5 {
        font-size: 3rem;
      }
      p {
        font-size: 2.5rem;
        margin: 3rem 0 0 10rem;
      }
    }

    // &--hidden {
    //   display: none;
    // }
  }
}
